:root {
   background-color: rgb(250, 250, 242);
}

nav{
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    font-size: large;
   

}
nav a{
    text-decoration: none;
    background-color: rgb(205, 205, 235);
    height: 25px;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;


}
nav a:hover{
    background-color: rgb(153, 153, 249);
}
form{
    margin-bottom: 1.5rem;
    justify-self: center;
}

label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 5px;
    
}
input {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 5px;


}

.error{
    font-size: 0.8rem;
    color: red;
    margin: 1rem;
    border: 1px solid rgb(146, 9, 9);
    padding: 5px;
}

table{
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
}
th{
    background-color: #f3f4f6;
    color: black;
    text-align: left;
    padding: 0.7rem 1rem;
    text-transform: uppercase;
    border-bottom: 2px solid ;
}
td{
    padding:  0.7rem 1rem;
    border-bottom: 1px solid ;
    vertical-align: middle;
}

tr:hover{
    background-color: beige;
}
tr:last-child td{
    border-bottom: none;
}

.card{
   margin: 15px auto;
    border: 1px solid blue;
    border-radius: 8px;
    width: 50%;
    padding: 5px;

}
.btn-delete{
    background-color: rgb(116, 12, 12);
    border-radius: 10px;
    margin-top: 10px;
    width: 20%;
    margin: 5px auto;
  
}
.btn-delete:hover{
    background-color: red;
}
h1{
    justify-self: center;
}

.detail-contenair{
    display: flex;
    flex-direction: column;
    
}


